#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: lightgray;
    font-style: italic;
    background-color: darkblue;
}

.absent {
    color: black;
    font-weight: bold;
    background-color: mediumaquamarine;
}

[v-cloak] {
    display: none;
}